<div class="container">
  <div class="categories">
    <div class="home-header" style="width: 60%;margin: 0 auto">
      <div class="d-flex justify-content-center">
        <div class="col-md-12">
          <h3>Credentials</h3>
        </div>
      </div>
    </div>
    <div class="content-panel" style="width: 60%;margin: 0 auto">
      <div class="d-flex justify-content-center">
        <div class="col-md-12">
          <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <span *ngIf="error" class="alert alert-danger">{{ error }}</span>
              </div>
              <div class="form-group">
                <span *ngIf="message" class="alert alert-info">{{ message }}</span>
              </div>
              <div class="form-group">
                <label for="api_key">API KEY</label>
                <input id="api_key" type="text" formControlName="api_key" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.api_key.errors }" />
                <div *ngIf="submitted && f.api_key.errors" class="invalid-feedback">
                  <div *ngIf="f.api_key.errors.required">API KEY is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="search_engine_id">Search Engine ID</label>
                <input id="search_engine_id" type="search_engine_id" formControlName="search_engine_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.search_engine_id.errors }" />
                <div *ngIf="submitted && f.search_engine_id.errors" class="invalid-feedback">
                  <div *ngIf="f.search_engine_id.errors.required">Search Engine ID is required</div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Save
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

