<div class="container">
  <div class="categories">
    <div class="home-header">
      <div class="d-flex justify-content-center">
          <div class="col-md-12">
            <h3>List of All Domains</h3>
          </div>
      </div>
    </div>
    <div class="content-panel">
      <div class="d-flex justify-content-center">
        <div class="col-md-10">
          <table *ngIf="domainData?.length > 0" datatable style="margin-top: 20px" class="table table-striped border">
            <thead>
            <tr>
              <th style="width: 10%" scope="col">#</th>
              <th scope="col">Domain</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of domainData;let i = index" data-toggle="collapse" [attr.data-target]="'#'+item.id" data-parent="#myTable">
              <td>{{i+1}}</td>
              <td title="View Details"><a [routerLink]="['/record/details/'+item.id]" style="color: rgb(64, 64, 64);font-weight: 500;cursor: pointer">{{item.domain}}</a></td>
              <td>
                <fa-icon class="edit-icon" title="Edit Configuration" [routerLink]="['/config/edit/'+item.id]" [icon]="faPen"></fa-icon>&nbsp;|&nbsp;
                <fa-icon class="trash-icon" title="Delete Configuration" (click)="deleteDomain(item)" [icon]="faTrash"></fa-icon>&nbsp;|&nbsp;
                <fa-icon title="Export Report" (click)="exportReport(item.id)" [icon]="faFileExport"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
